body {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

.banner {
	width: 100%;
}

.image-1 {
	margin: auto;
	width: 200px;
}

.image-2 {
	margin: auto;
	padding-bottom: 50px;
	width: 100%;
}

.featured_icon {
	margin: auto;
	width: 140px;
	height: 140px;
}

.pic-center {
	width: 300px;
	height: 200px;
	margin: auto;
}

.text-small {
	font-weight: 200;
	font-size: 14px;
}

.text-medium {
	font-weight: 600;
	font-size: 20px;
}

.text-muted {
	color: #7d97ad;
}

.text-thin {
	font-weight: 100;
}

.text-thick {
	font-weight: 500;
}

.title-super {
	font-size: 50px;
}

.text-proj-name {
	color: #2d3c49;
}

.title-image {
	margin-top: 5px;
}

.company-name {
	font-size: 17px;
}

.job-title {
	font-size: 15px;
}

.resume {
	height: 600px;
	overflow: auto;
}

.tooltip-wrap {
	position: relative;
}

.cursor {
	cursor: pointer;
}
